<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Session page</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>

<div id="title-bar">
    <h1 id="title-text">Session page</h1>
</div>

<div class="content">

    <h2 id="welcome">Hello {{ userLogin }} !</h2>

</div>

<div id="bottom-bar">
    <p id="copyright">2018 Design and Implementation : Lukasz Pelczar</p>
</div>

</body>
</html>